span,
p {
    font-family: "Roboto", sans-serif;
}

.css-h100 {
    height: 100vh;
}

img {
    max-width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Rubik", sans-serif;
}

body .container-fluid {
    max-width: 1240px;
    margin: auto;
}

body {
    overflow-x: hidden;
}

/* main menu css */
ul.our-main-menu {}

ul.our-main-menu {}

ul.our-main-menu li {}

ul.our-main-menu li a {
    display: inline-block;
    text-decoration: none !important;
    padding: 10px 10px;
    font-size: 17px;
    color: #111;
    transition: 0.5s;
    font-weight: 500;
    padding: 8px 11px;
}

ul.our-main-menu li:hover>a {
    color: #e83b3e;
}

/* Dropdown */
ul.our-main-menu li {
    position: relative;
}

ul.our-main-menu li ul {
    position: absolute;
    top: 232%;
    left: 0;
    padding: 10px;
    list-style: none;
    width: 220px;
    background: #f7f7f7;
    transition: 0.5s;
    border-top: 5px solid rgba(17, 17, 17, 0.404);
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

ul.our-main-menu li ul li a {
    display: block;
    transition: 0.6s;
    border-bottom: 1px solid transparent;
}

ul.our-main-menu li ul li a:hover {
    color: #e83b3e;
    letter-spacing: 1px;
    border-bottom: 1px solid #00000014;
}

ul.our-main-menu li:hover>ul {
    top: 110%;
    visibility: visible;
    opacity: 1;
}

.meu-info-icon {
    font-size: 20px;
    padding: 0 11px;
    border-right: 1px solid #60606054;
    margin-right: 9px;
}

.meu-info-call {}

.meu-info-call span {
    color: #606060;
}

.meu-info-call a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

.menu-info-call-icon span {
    font-size: 30px;
    color: #e83b3e;
    margin-right: 10px;
    line-height: 50px;
}

.menu-info-call-text {
    width: 146px;
}

.button {
    overflow: hidden;
    border-radius: 7px;
    display: inline-block;
}

.btn.btn-css {
    padding: 10px 38px;
    background: #e83b3e;
    color: white !important;
    font-weight: bold;
    outline: none;
    border-radius: 7px;
    position: relative;
    z-index: 1;
}

.btn.btn-css::after {
    content: "";
    position: absolute;
    height: 500px;
    width: 900px;
    border-radius: 46%;
    background-color: #111;
    top: -14%;
    left: 10%;
    transition: 0.6s;
    z-index: -1;
}

.btn.btn-css:hover::after {
    left: -333px;
}

/* banner section */
.banner-section {
    background: url(https://i.ibb.co/Gsj1czS/main-banner2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.main-heading-text {}

.main-heading-text h6 {
    color: #e83b3e;
    font-weight: normal;
}

.main-heading-text h1 {
    font-size: 49px;
    margin: 14px 0;
}

.main-heading-text p {
    color: #606060;
    margin-bottom: 35px;
}

.banner-section {
    position: relative;
}

.banner-icon {
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.banner-icon ul li span {
    margin-right: 60px;
}

.banner-icon ul li a {
    margin-right: 15px;
    color: black;
}

.banner-icon ul {
    position: relative;
    list-style: none;
}

.banner-icon ul::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 41%;
    height: 1px;
    width: 32px;
    background-color: black;
}

.img-slider {
    padding: 100px 0;
}

.about-slider-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.431);
}

.img-slider ul {
    list-style: none;
    margin-bottom: 0;
}

/* About section */
.about-items-img {
    position: relative;
    width: 720px;
    margin-right: 60px;
}

.background-image {
    position: absolute;
    bottom: 17px;
    right: -50px;
    background-image: url(https://i.ibb.co/zXMsdyJ/shape.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image-content h1 {
    font-size: 60px;
    color: #e83b3e;
}

.background-image-content p {
    font-weight: 600;
}

.about-section {
    padding: 100px 0;
}

.about-items-text {
    margin-left: 70px;
}

.about-items-text .main-heading-text h1 {
    font-size: 35px;
    font-weight: 400;
}

.about-items-text .main-heading-text p {
    margin: 13px 0;
}

.about-items-text .main-heading-text h5 {
    font-size: 18px;
    color: #606060;
}

.about-items-text .main-heading-text ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.about-items-text .main-heading-text ul li {
    color: #606060;
    font-size: 19px;
}

.about-items-text .main-heading-text ul li span {
    font-weight: normal;
    font-size: 25px;
}

/* choose-section */
.choose-section {
    background-color: #f9fafb;
    padding: 100px 0;
}

.choose-left-content h6 {}

.choose-left-content h1 {
    font-size: 34px;
}

.choose-left-content p {}

.choose-image {
    position: relative;
}

.choose-image-icon {
    position: absolute;
    bottom: 15%;
    right: 31%;
    z-index: 11;
}

.btn-animation {
    width: 150px;
    height: 150px;
    background: red;
    position: absolute;
    bottom: -37%;
    right: -38%;
    animation: mymove 1.5s infinite;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
    animation-delay: .5s;
}

.btn-animation:hover {
    animation-play-state: paused;
}

@keyframes mymove {
    0% {
        transform: scale(0);
        opacity: 0.3;
    }

    50% {
        opacity: .8;
    }

    100% {
        transform: scale(1.2);
        opacity: .2;
    }
}

.choose-image-icon span a {
    height: 85px;
    width: 85px;
    background: white;
    display: inline-block;
    text-align: center;
    font-size: 65px;
    border-radius: 50%;
    line-height: 85px;
    color: #e73c3e !important;
    transition: .5s;

}

.choose-image-icon span a:hover {
    color: white !important;
    background-color: #e73c3e;
}

.choose-items {
    background: #fff;
    padding: 59px 30px 30px 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.07);
    z-index: 1;
    transition: .5s;
}

.choose-items:hover {
    transform: translateY(-10px);
}

.margin-top {
    transform: translateY(-25px);
}

.margin-top:hover {
    transform: translateY(-35px);
}

.choose-items:hover span {
    background-color: rgba(255, 0, 0, 0.603);
    color: white;
}

.choose-items::after {
    content: "";
    background-color: #fdebeb;
    height: 250px;
    width: 95%;
    border-radius: 50%;
    position: absolute;
    left: 6px;
    top: -131px;
    z-index: -1;
}

.choose-items span {
    height: 80px;
    width: 80px;
    background: #fff;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 111;
    transition: .6s;
}


.choose-items h2 {
    font-weight: 500;
}

.choose-items p {
    color: #606060;
    margin-top: 30px;
}

/* Pricing Section */
.pricing-section {
    padding: 100px 0;
    padding-bottom: 25px;
}

.pricing-content {
    width: 600px;
    margin: auto;
}

.pricing-content h6 {}

.pricing-content h1 {
    font-size: 35px;
    margin: 25px 0;
}

.pricing-content p {
    padding: 0 20px;
}

.pricing-heading h1 {
    font-size: 35px !important;
    font-weight: 400;
    margin-bottom: 40px;
}

.pricing-items-left {}

.pricing-items-left ul {
    list-style: none;
    position: relative;
}

.pricing-items-left ul::before {
    content: "";
    height: calc(100% - 100px);
    width: 1px;
    background-color: #e83b3e;
    position: absolute;
    top: 26px;
    left: 21px;

}

.pricing-items-left ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
}

.pricing-items-left ul li::before {
    content: attr(data-counter);
    height: 40px;
    width: 40px;
    border: 1px solid #e83b3e;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;

    left: -31px;
    top: 0;
    text-align: center;
    line-height: 37px;
    font-size: 23px;
    color: #e83b3e;
    font-weight: 600;
}

.pricing-items-left ul li h4 {
    margin-bottom: 15px;
}

.pricing-items-left ul li p {
    color: #606060;
    line-height: 1.7em;
}

.pricing-form {
    background-color: #fdebeb;
}

.btn.btn-css.btn-form {
    width: 451px;
    position: relative;
}

.form-select option:hover {
    background-color: #e83b3e !important;
}

.btn.btn-css.btn-form::after {
    content: "";
    position: absolute;
    height: 1000px;
    width: 5900px;
    border-radius: 46%;
    background-color: #111;
    top: -319%;
    left: 50%;
    transition: 1s;
    z-index: -1;
}

.btn.btn-css.btn-form:hover::after {
    left: -770px;
}

/* pnone-number-section */
.pnone-number-content {
    background-color: #e83b3e;
    border-radius: 6px;
}

.pnone-number-text {
    border-right: 1px solid #dddddd8a;
}

.pnone-number-text h1 {
    font-size: 32px;
    padding: 3px;
    line-height: 45px;
    color: white;
}

.pnone-number {
    height: 100%;
    margin-left: 15px !important;
}

.pnone-number span {
    font-size: 44px;
    color: #e83b3e;
    height: 65px;
    width: 65px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
}

.pnone-number a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 31px;
    margin-left: 21px;
}

.values-item {}

.values-item h1 {
    margin-bottom: 25px;
    font-size: 45px;
    font-weight: 600;
}

.values-item ul {
    list-style: none;
    padding-left: 0;
}

.values-item ul li {}

.values-item ul li span {
    display: inline-block;
    font-size: 37px;
    color: #e73c3e;
    width: 40px;
}

.values-item ul li span i {
    position: relative;
    top: 10px;
    left: 6px;
}

.values-item ul li h5 {
    display: inline-block;
    margin-left: 18px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 6px;
}

.values-item ul li p {
    margin-left: 63px;
    margin-bottom: 2px;
    color: #606060;
}

.values-image {
    margin-top: 45px;
}

/* professional-service-tab-section */
.professional-service-tab-section {
    background-color: #f9fafb;
    padding: 100px 0;
}

.main-heading {
    width: 650px;
    margin: auto;
}

.main-heading h6 {
    color: #e73c3e;
    font-size: 18px;
    margin-bottom: 15px;
}

.main-heading h2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 23px;
}

.main-heading p {
    padding: 0 30px 0 30px;
    color: #606060;
}

.professional-service-tab-button {
    border-bottom: 1px solid #00000042;
    margin-bottom: 38px !important;
    position: relative;
}

.button-icon-1 {
    position: absolute;
    bottom: -23px;
    left: -30px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    z-index: 11;
    line-height: 50px;
    color: #00000070;
    transition: .5s;
}

.button-icon-2 {
    position: absolute;
    bottom: -23px;
    right: -7px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    z-index: 11;
    line-height: 50px;
    color: #00000070;
    transition: .5s;
}

.button-icon-1:hover {
    color: white;
    background-color: #e73c3e;
    border: 1px solid rgba(0, 0, 0, 0.356);
}

.button-icon-2:hover {
    color: white;
    background-color: #e73c3e;
    border: 1px solid rgba(0, 0, 0, 0.356);
}

.professional-service-tab-button li {
    flex: 1 1 0;
}

.professional-service-tab-button li button {
    background: transparent;
    border: 0;
    outline: none !important;
    margin-top: 48px;
    margin-bottom: 17px;
}

.professional-service-tab-button li button.active span i {
    color: #e73c3e;
}

.professional-service-tab-button li button {
    position: relative;
}

.professional-service-tab-button li button::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: #e83b3ed8;
    position: absolute;
    bottom: -18px;
    left: 0;
    transition: .5s;
}

.professional-service-tab-button li button.active::after {
    width: 100%;
}

.professional-service-tab-button li button span i {
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 80px;
    font-size: 31px;
    box-shadow: 3px 3px 10px #0003;
    margin-bottom: 17px;
}

.professional-service-tab-button li button strong {
    font-weight: 800;
    font-size: 18px;
    color: #606060;
}

.service-image img {
    margin-top: 50px;
}

.service-text-content {
    margin-left: 20px;
}

.service-text-content h3 {
    margin-bottom: 15px;
}

.service-text-content p {
    color: #606060;
    font-weight: 400;
    line-height: 1.7em;
    margin-bottom: 30px;
}

.service-text-content ul {
    list-style: none;
    padding-left: 0;
}

.service-text-content ul li {
    margin-bottom: 10px;
}

.service-text-content ul li::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #e73c3e;
    border-radius: 50%;

    display: inline-block;
    margin-right: 10px;
}

/* review-section */
.review-section {}

.review-heading {}

.review-heading h6 {
    color: #e83b3e;
    font-weight: normal;
    font-size: 19px;
    margin-bottom: 18px;
}

.review-heading h3 {
    font-size: 35px;
}

.review-heading p {
    margin-top: 18px;
    line-height: 1.8em;
    color: #606060;
}

.review-content {}

.review-content h5 {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.6em;
    margin-bottom: 31px;
}

.review-content a {
    text-decoration: none;
    color: #e83b3e;
}

.review-content a h4 {
    font-size: 18px;
}

.review-content p {
    color: #606060;
}

.review-image {
    position: relative;
}

.review-img-button {
    position: absolute;
    right: 0;
    top: 35%;
}

.review-img-button-btn {
    height: 20px;
    width: 20px;
    border: 1px solid #606060;
    display: block;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.review-img-button-btn:hover {
    border: 1px solid #e83b3e;
}

.review-img-button-btn::after {
    content: "";
    height: 79%;
    width: 79%;
    background-color: #e83b3e;
    border-radius: 50%;
    position: absolute;
    top: 13%;
    left: 16%;
    transform: scale(0);
    transition: .5s;
}

.review-img-button-btn:hover::after {
    transform: scale(1);
}

/* testimonial-section */
.testimonial-section {
    background-color: #fafbfc;
}

.testimonial-items {}

.testimonial-image {
    position: relative;
}

.testimonial-image img {}

.testimonial-member-profile {}

.testimonial-member-profile ul {
    padding-left: 0;
    list-style: none;
    position: absolute;
    bottom: 0px;
    left: 43px;
}

.testimonial-member-profile ul li {
    display: inline-block;
    transform: translateY(27px);
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in-out;
}

.testimonial-image:hover .testimonial-member-profile ul li {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.testimonial-image .testimonial-member-profile ul li:nth-child(1) {
    transition-delay: .3s;
}

.testimonial-image .testimonial-member-profile ul li:nth-child(2) {
    transition-delay: .5s;
}

.testimonial-image .testimonial-member-profile ul li:nth-child(3) {
    transition-delay: .7s;
}

.testimonial-image .testimonial-member-profile ul li:nth-child(4) {
    transition-delay: .9s;
}

.testimonial-member-profile ul li a {
    display: block;
    margin: 0 2px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    background-color: #fff;
    color: #111;
    font-size: 20px;
    transition: .5s;
}

.testimonial-member-profile ul li a:hover {
    color: #FFF;
    background-color: #e73c3e;
}

.testimonial-content {}

.testimonial-content h4 {
    font-size: 21px;
}

.testimonial-content h4 a {
    text-decoration: none;
    color: #e83b3e;
    margin-top: 15px;
    display: block;
}

.testimonial-content p {
    color: #606060;
    font-size: 15px;
}

/* blog-section */
.blog-section {}

.blog-items {}

.blog-items img {}

.blog-items h6 {
    color: #e83b3e;
    margin-top: 13px;
    font-weight: normal;
}

.blog-items h4 a {
    line-height: 1.4em;
    transition: .5s;
    text-decoration: none;
    color: #111;
}

.blog-items h4 a:hover {
    color: #e73c3e;
}

.blog-btn {
    text-decoration: none;
    color: #111;
    transition: .5s;
}


.blog-items:hover .blog-btn {
    color: #e73c3e;
    letter-spacing: 1px;
}

/* Footer */
.footer-top {}

.footer-menu-about {}

.footer-menu-about img {
    margin-bottom: 20px;
}

.footer-menu-about p {
    line-height: 1.8em;
    margin-bottom: 37px;
}

.footer-menu-about ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer-menu-about ul li {
    display: inline-block;
}

.footer-menu-about ul li strong {
    font-size: 18px;
    position: relative;
    bottom: 2px;
}

.footer-menu-about ul li a {
    display: inline-block;
    margin: 0 6px;
    color: #fff;
    font-size: 19px;
    transition: .5s;
}

.footer-menu-about ul li a:hover {
    color: tomato;
}

.footer-menu {}

.footer-menu h5 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd52;
}

.footer-menu ul {
    list-style: none;
    padding-left: 0;
}

.footer-menu ul li {
    display: block;
}

.footer-menu ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 15px;
    transition: .5s;
}

.footer-menu ul li a:hover {
    color: tomato;
    letter-spacing: 1px;
}

.footer-menu-contact {}

.footer-menu-contact h5 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd52;
}

.footer-menu-contant-loocation {}

.footer-menu-contact span {
    font-size: 24px;
    width: 71px;
    position: relative;
    top: 10px;
}

.footer-menu-contant-loocation p {
    line-height: 1.9em;
}

.footer-menu-contant-mail {}

.footer-menu-contant-mail span {}

.footer-mail a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.footer-menu-contant-phone {}

.footer-menu-contant-phone span {
    position: relative;
    top: 28px;
    font-size: 31px;
    width: 53px;
}

.footer-phone {
    margin-top: 20px;
}

.footer-phone a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.footer-menu-contact a {
    transition: .5s;
}

.footer-menu-contact a:hover {
    color: tomato;
}

.footer-bottom {
    border-top: 1px solid #dddddd52;
}

.footer-bottom p {
    color: #606060;
}

.footer-bottom p a {
    text-decoration: none;
    color: white;
    transition: .5s;
}

.footer-bottom p a:hover {
    color: tomato;
}



/* Page page */
/* breadcrumb Section */
.breadcrumb-section {
    background-image: url(https://templates.envytheme.com/finix/default/assets/img/page-title/bg.jpg);
    padding: 150px 0;
    background-size: cover;
    background-position: center -73px;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.719);
}

.our-breadcrumb {}

.our-breadcrumb ol {
    background: none;
}

.our-breadcrumb ol li {
    font-weight: 600;
}

.our-breadcrumb ol li a {
    text-decoration: none;
    font-weight: 600;
    color: #e83b3e !important;
    font-size: 17px;
}

/* Page About Section */
.page-about-section {
    background-color: #f9fafb;
    padding: 100px 0;
}

.about-items-img.page-about {
    position: relative;
}

.about-items-img.page-about img {}

.about-items-img.page-about img:nth-child(1) {
    position: absolute;
    top: -18px;
    left: -66px;
    width: 460px;
    max-width: inherit;
}

.about-items-img.page-about img:nth-child(2) {
    position: absolute;
    bottom: 44px;
    left: 139px;
    width: 473px;
}

.page-about-content {
    position: absolute;
    bottom: -1px;
    right: -11px;
    background-color: white;
    box-shadow: 5px 5px 10px #0000001c;
}

.page-about-text {
    position: relative;
    padding: 23px 45px;
}

.page-about-text::before {
    content: "";
    height: 100%;
    width: 3px;
    background-color: #e83b3e;
    position: absolute;
    top: 0;
    left: 0;
}

.page-about-content h1 {
    font-size: 75px;
    margin-right: 20px;
    font-weight: 200;
}

.page-about-content p {
    font-size: 30px;
}

.page-about-coontent {
    width: 600px;
}

/* page-about-admin-section */
.center-items-content {
    width: 600px;
    margin: auto;
}

.center-items-content h6 {}

.center-items-content h1 {}

.center-items-content p {
    line-height: 1.9em;
}

.page-about-admin {
    position: relative;
    background-color: white;
    box-shadow: 10px 10px 20px #e83b3e14;
    padding: 35px 46px;
}

.page-about-admin-section {
    padding: 100px 0;
}

.page-about-admin .page-our-admin {}

.page-about-admin .page-our-admin img {
    width: 65px;
    margin-right: 18px;
}

.page-about-admin .page-our-admin .name {
    position: relative;
    top: 10px;
}

.page-about-admin .page-our-admin .name h6 {
    color: #e83b3e;
    margin-bottom: 5px !important;
}

.page-about-admin .page-our-admin .name p {
    font-size: 15px;
    color: #212529;
    margin-top: 0 !important;
}

.page-about-admin p {
    line-height: 1.8em;
    margin-top: 20px !important;
    color: #606060;
    margin-bottom: 0 !important;
}

.page-about-admin span {
    position: absolute;
    top: 1px;
    right: 24px;
    font-size: 95px;
    opacity: .1;
    color: #e83b3e;
}

/* slick slider start */
.page-about-carousel {
    background-color: #fafbfc;
    padding: 80px 0;
}

.slick-slide {
    margin: 0px 30px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slick Slider End */

/* page-testimonial-section */
.page-testimonial-section {
    padding: 100px 0 200px 0;
}

.about-page-footer {
    position: relative;
    padding-top: 130px;
}

.page-pnone-number-section {
    position: absolute;
    top: -138px;
    left: 8%;
}

/* Page Service section */
.page-service-item.choose-items {
    padding-top: 36px;
}

.page-service-item.choose-items::after {
    content: "";

    height: 253px;
    width: 93%;
    left: 12px;
}

.page-service-item.choose-items span {
    height: 100px;
    width: 100px;
    box-shadow: 1px 8px 10px #0000000f;
}

.page-service-item.choose-items span i {
    font-size: 60px;
}

.page-service-item.choose-items h2 {}

.page-service-item.choose-items p {
    line-height: 2em;
}

.page-service-item.choose-items a {
    color: #e83b3e;
    font-weight: 500;
    text-decoration: none;
    margin-top: 19px;
    display: inline-block;
    transition: .5s;
}

.page-service-item.choose-items a:hover {
    letter-spacing: 1px;
}

/* Funding- Page */

/* page-about-funding-section */
.funding-proses-section {
    padding: 100px 0;
}

.main-heading-text.page-about-content-text h1 {
    font-size: 32px;
    font-weight: 400;
}


.main-heading-text.page-about-content-text h5 {
    margin-top: -10px;
}

.main-heading-text.page-about-content-text ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}


.main-heading-text.page-about-content-text ul li span {
    color: #e83b3e;
    font-family: rubik, sans-serif;
}

.funding-proses span {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 43px #0000001F;
    line-height: 100px;
    font-size: 45px;
    color: #e83b3e;
    margin-bottom: 25px;
}


.funding-proses h3 {
    font-weight: 500;
    font-size: 25px;
}

.funding-proses-items {
    position: relative;
}

.before-img img {
    position: absolute;
    top: 64px;
    left: -169px;
}

.aftar-img img {
    position: absolute;
    top: 14px;
    left: 164px;
}

.funding-apply-section {
    background-color: #f9fafb;
    padding: 100px 0;
}

.apply-form {
    width: 850px;
    margin: auto;
}

.apply-form input {
    padding: 15px 18px;
    margin-top: 5px;
    border-radius: 0 !important;
    background-color: transparent !important;
    box-shadow: inherit !important;
}

.funding-checkbox {
    display: flex;
}

input[type="checkbox"] {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px solid red;
    border-radius: 3px !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    position: relative;
    transition: .5s;
}

input[type="checkbox"]:checked {
    background-color: red !important;
    color: white !important;
}

input[type="checkbox"]::after {
    content: "\f00c";
    font-family: "FontAwesome";
    font-weight: 900;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

input[type="checkbox"]:checked::after {
    visibility: visible !important;
    opacity: 1 !important;
}

input[type="checkbox"]::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: .5s;
    opacity: 1;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    opacity: 0;
}

.funding-checkbox label {
    position: relative;
    top: 2px;
    cursor: pointer;
}

.funding-checkbox label a {
    display: inline-block;
    text-decoration: none;
    color: red;
}

/* order-complite-section */
.order-complite-section {
    height: 100vh;
    background-color: #515b60;
}

.order-content {
    max-width: 600px;
}

.order-content span {
    font-size: 200px;
    color: #e83b3e;
}

.order-content h1 {
    font-size: 60px;
    margin-top: -50px;
}

.order-content h2 {
    margin: 20px 0;
}

.order-content p {
    line-height: 1.7em;
}

/* apply-form-section */

.apply-form-section {}

.apply-form input {
    box-shadow: inherit !important;
}

.apply-form select {
    height: 55px;
    position: relative;
    top: 6px;
    border-radius: 0 !important;
    box-shadow: inherit !important;
}
.apply-form .button{

    margin-left: 207px;
    margin-top: 14px;
}


